body{
    background-color:rgb(28, 36, 50);
    background-image: url("/Image/wallpaperflare.com_wallpaper\ \(1).jpg");
}
header img{
    height: 300px;
    position: absolute;
                top: 5%;
                left: 50%;
                transform: translate(-50%,-50%);
}
.game_name img{
    height: 200px;
    position: absolute;
    left:50%;
    top:1%;
    transform: translate(-50%,50%);
}
.enter{
    position: absolute;
    left: 50%;
    top: 26%;
    transform: translate(-50%,50%);
    border: 3px solid white;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    transition: all 0.5s ease;
    padding: 30px;
}
.enter:hover{
    padding: 40px
}
.enter h1{
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: lightblue;
    text-align: center;
}
.enter p{
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;

}
.enter button{
    align-content: center;
    margin: 10px;
    height: 30px;
    width: 120px;
    background-color:lightblue;
    transition: all 0.5s ease;
    border-radius: 5px;
    border: 1px white solid;
    padding: 15px;
    color: white;
}
.enter button:hover{
    height: 40px;
    box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 100px white, 0 0 200px white
}
.enter .hello{
    width: 400px;
}

